<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ko.mapper.UserMapper">

    <!-- <typeAliases>原因，直接写类名即可，且不区分大小写 -->
    <select id="selectAll" resultType="user">
        select * from user_t;
    </select>

</mapper>